
/*/ TODA LA PAGINA*/

    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        max-width: 1400px;
        max-height: 800px;
    }
        
    
    body{
        background-color: rgb(125, 153, 153);
    }
    footer {
        font-family:cursive;
        text-align: center;
        float: left;
        width: 100%;
        background: black;
        color: white;
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .titulo{
        margin-top: 0;
        margin-left: 50px;
        text-align: left;
        font-size:xx-small;
        color:rgb(255, 234, 220);
        text-shadow: 2px 2px 20px rgb(61, 12, 12);
    }
    h2{
        font-weight: 0;
    }

    /*/Barra de Navegación*/
        nav{
            float: right;
        }

        nav ul li{
            list-style: none;
            float: left;
            margin-right: 90px;
            position: relative;
            top: -25px;
        }

        nav ul li a{
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-size: larger;
        }

        nav ul li a:hover{
            color: rgb(255, 255, 255);
            text-shadow: 2px 2px 4px rgb(65, 211, 138);
            transition: 0.4s;
        }

        nav ul li:hover::before {
            width: 100%;
        }

        nav ul li::before {
            display: block;
            content: '';
            width: 0%;
            background-color: rgba(65, 211, 138);
            height: 5px;
            top: -20px;
            position: absolute;
            transition: width 0.2s;
        }

        header{
            top: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            clear: both;
            display: table;
            position: fixed;
            z-index: 9999;
        }

        #logo{
            width: 90px;
            float: left;
            position: absolute;
            top: -8px; 
            left: 20%; 
            filter: brightness(70%);

        }

        .wtf{
            margin-right: 1.1%;
        }

        .wtf #logo{
            margin-right: 100%;
            left: 19.75%;
        }

        .menu{
            margin-top: 10px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }




/*/MAIN*/
    #Cuerpo{
        color: green;
        text-shadow: 2px 2px 3px #000000;
        width: 100%;
        height: 110vh;
        display: flex;
        justify-content: center;
        font-size: x-large;
        text-align: center; 
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        overflow: hidden;
    }

    .Gira{
        margin-top: 10%;
    }
    #Cuerpo2{
        height: 110vh;
        background: url(Backgrounds/Fondo4.jpg);
        width: 100vw;
        background-size: cover;
        display: flex;
        position: relative;
        overflow: hidden;
    }

    video{
        width: 450px;
        float: left;
    }

    .BloqueVid{
        margin-top: 13%;
        width: 100%;
        position: absolute;
    }

    .Tit2{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 40px;
        color: white;
        text-shadow: 2px 2px 2px rgb(42, 144, 161);
        margin-bottom: 70px;
    }

    .BloqueT{
        color: white;
        padding: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: justify;
        float: left;
        width: 578px;
        height: 338px;
        background-color: rgba(0, 0, 0, 0.6);
    }




/*Lugares*/

    .BloqueGal{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: large;
        color: white;  
        width: 40%;
        height: auto;
        float: left;
        padding: 40px;
        margin-top: 8%;
        margin-left: 5%;
        max-height: 550px;
        background-color: #000000be;
    }
    

    .ContenidoCaja{
        width: 550px;
        max-height: 500px;
        height: 500px;
        float: left;
        height: auto;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin-left: 5%;
        margin-top: 15%;
        position: relative;
    }

    .control-button{
        width: 100%;
        height: 25px;
        cursor: pointer;
        color: white;
        background-color: rgb(77, 77, 77);
    }
    .ContenidoCaja img{
        width: 100%;
        height: 315px;
        max-height: 320px;
        float: left;
        flex-direction: row;
    }
    #ImagenMos{
        color: rgb(19, 95, 5);
        font-family: fantasy;
        height: auto;
        float: right;
        margin-top: 15%;
        text-shadow: 2px 2px 3px white;
        writing-mode: vertical-lr;
        text-orientation: upright;
        margin-left: 20px;
        font-size: 35px;
    }

    #Mensaje{
        width: 100%;
        padding: 15px;
        height: 315px;
        position: absolute;
        z-index: 9998;
        background-color: #00000000;
        color: #00000000;
        font-size: large;
        transition: 0.4s;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    #Mensaje:hover{
        background-color: #00000049;
        color: white;
        cursor: pointer;
        text-shadow: 2px 2px 2px #000000;
        transition: 0.4s;
    }

    #fondo {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.75); /* Fondo semi-transparente */
        z-index: 6;
    }

    #CajaImGrande {
        display: none;
        width: 88%;
        height: auto;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 7;
    }
    #imagenGrande{
        width: 100%;
    }

    #control-caja{
        margin-top: 10px;
    }
    #TexL{
        font-size: 40px;
        margin-top: 20px;
        text-align: center;
        color: rgb(83, 179, 123);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-shadow: 1px 0px 3px rgb(2, 72, 33);
    }

    #Cansado {
        padding-left: 40px;
    }
    .FondoL{
        width: 100%;
        height: 60vh;
        display: block;
        position: relative;
    }

    .Texto{
        /*/ Propiedades de la caja*/
            width: 100%;
            height: 60vh;
            display: flex;
            background-color: rgba(0, 0, 0, 0.363);

        /*/ Propiedades de la letra*/
            font-size: 35px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            text-shadow: 1px 1px 1px #000000;

        /*/ Propiedades de la posición*/
            position: absolute;
            align-items: center;
            justify-content: center;
            top: 50%;
            left: 50%;
        transform: translate(-50%, -50%);

        /*/ Efectos*/
            transition: 0.3s;
    }

    .Texto:hover{
        /*/ Propiedades de la caja*/
            background-color: rgba(0, 0, 0, 0);
            border: solid 8px white;

        /*/ Propiedades de la letra*/
            font-size: 40px;
            
        /*/ Efectos*/
            transition: 0.6s;
    }




    #CajaRei{
        background-color: rgb(27, 12, 12);
        margin-right: 3%;
        width: 30%; 
        margin-left: 5%; 
        float: left;
        margin-top: 7%;
        padding: 5px;
    }


    #TituloApren{
        color: rgb(0, 175, 21);
        text-shadow: 3px 3px 2px white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        height: auto;
        float: left;
        margin-top: 3%;
        margin-left: 5%;
    }

    #imagenRei{
        width: 91%;
        margin-top: 20px;
        margin-left: 5%;
    }

    #ReiDerecha{
        width: 60%;
        height: 500px;
        color: white;
        font-size: 18px;
        max-height: 90vh;
        margin-top: 8%;
        float: left;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: justify;
        padding: 40px;
        padding-top: 15px;
        background-color: rgba(0, 0, 0, 0.8);
    }


/*Efectos/Propiedades generales*/
    .espacio{
        margin-bottom: 25px;
    }
    .espacio2{
        margin-bottom: 10px;
    }

    .margen0{
        margin: 0;
    }

    .centrado{
        text-align: center;
        width: 100%;
    }
    .centradoFlex{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .efecto-blur{
        backdrop-filter: blur(0.4rem);
        background-color: rgba(red, green, blue, alpha);
        width: 100%;
        height: inherit;
        position: absolute;
        z-index: 1;
    }

    .Contenedor-main{
        position: absolute;
        z-index: 2;
        width: 100%;
    }
    .relative{
        position: relative;
    }


/*Contacto*/
    #MainForm{
        height: 96.5vh;
        background-image: url(Backgrounds/Fondo5.jpeg); 
        background-size: cover; 
    }

    #MainForm .efecto-blur{
        backdrop-filter: blur(0.3rem);
    }

    #Contacto{
        width: 45%;
        min-width: 400px;
        max-width: 800px;
        height: auto;
        float: left;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 13%;
        color: white;
        padding: 30px;
        background-color: rgba(0, 0, 0, 0.8)
    }

    .Eforms{
        width: 50%;
        float: left;
    }

    #Motivos{
        padding-left: 20px;
    }

    #BloqF{
        margin-top: 13%;
    }

    #MsgForm{
        margin-bottom: 10px;
        margin-top: 7%;
        font-size: 13px;
        text-shadow: 1px 1px 1px rgb(50, 142, 64);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(206, 246, 140);
        text-align: left;
        width: 100%;
    }
    button{
        width: 60px;
        font-size: 15px;
    }

    .Eforms input{
        margin-right: 3%;
        float: right;
    }

    .Error{
        font-size: 13px;
        color: rgb(252, 104, 104);
        float: right;
        padding-right: 20px;
    }